<!--to me implement in urls_index and urls_show -->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div> <!-- Add the user and button -->
      <div class="form-group mb-2">
    </div>
    <!-- condition statement to render if user name is applied or not-->
    <% if(true){ %>
      <form style="padding:10px" action="/login" method="POST">
        <input style="width:200px" type="text" name="username" placeholder="Username"
        id="username">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <% } else { %>
      <form style="padding:10px" action="/logout" method="POST">
        <div>
          <%= username %> 
        </div>
        <button type="Logout" class="btn btn-primary">Logout</button>
      </form>
    <% } %>
    </nav>
</header>

